body {
  margin: auto;
}

* {
  color: #fff;
  box-sizing: border-box;
  font-family: "Whyte", -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
}

a {
  color: #18A0FB;

  &:hover {
    color: #111
  }
}

textarea, input {
  text-align: left;
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14pt;
  line-height: 18pt;
  margin: 4px auto;
  background-color: #383838;
  outline: none;
  border: 0;
  border-radius: 5px;
  color: #fff;
}

textarea {
  resize: none;
}

button, input[type="button"], input[type="submit"] {
  cursor: pointer;
  text-align: center;
  margin: 4px auto;
  width: max-content;
  padding: 6px 12px;
  font-size: 14pt;
  line-height: 18pt;
  border-radius: 80px;
  background-color: #383838;
  color: #fff;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover{
  background-color: #282828;
  color: #18A0FB;
}


button:active, input[type="button"]:active, input[type="submit"]:active {
  background-color: #222;
  color: #fff;
}