.main {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    color: #FFF;
    margin: auto;
    padding-bottom: 128px;
}

.main_with_title{
    @extend .main;
    padding-top: 0px;
}

.main_no_title {
    @extend .main;
    padding-top: 104px;
}



.content {
    padding: 0 10px;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-weight: normal;
    padding: 0;
    margin: 32px;
    font-size: 26pt;
    text-decoration: underline;
    text-align: center;
}
