.container {
    display: flex;
    border-radius: 5px;
    padding: 6px 12px;
    background-color: #383838;
}


.input {
    display: none;
}

.button {
    display: block;
    height: min-content;
    width: max-content;
    padding: 6px 12px;
    font-weight: 400;
    font-size: 12pt;
    background-color: #555;
    background-clip: padding-box;
    outline: none;
    border: 0;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: #282828;
    color: #18A0FB;
}

.button:active {
    background-color: #202020;
    color: #FFF
}   

.nameDisplay {
    width: max-content;
    margin: auto;
    display: block;
    width: 70%;
    color: #FFF;
    height: min-content;
}