@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}

.container {
    width: 100%;
}


.image {
    width: 100%;
}

.text {
    margin: 16px 32px;
    font-size: 14pt;
}


.link {
    cursor: pointer;
    display: block;
    text-align: center;
    width: fit-content;
    padding: 4px 12px;
    font-size: 14pt;
    border: solid #18A0FB 2px;
    border-radius: 5px;
    background-color: #333;
    text-decoration: none;

    &:hover {
        background-color: #18A0FB;
    }
}

$activeColor: #000;
$inactiveColor: #18A0FB;